
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    @Html.ActionLink("Cadastra-se\t", "CadastrarPFView", "Cadastrar")
    @Html.ActionLink("Seja um parceiro","CadastrarPJView", "Cadastrar")
    @Html.ActionLink("Entrar", "Index", "Home")
    <nav class="navbar navbar-default">
        <div class="container-fluid">
           


        </div>
</body>
</html>
